<div ng-controller="MainCtrl">
    <div ng-repeat="book in books.book">
    <div class="content-section-a" ng-hide="$even">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{book.bookname}}<br>{{book.vicename}}</h2>
                    <p class="lead">{{book.description}}</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" ng-attr-src="{{book.picture}}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b" ng-hide="$odd">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{book.bookname}}<br>{{book.vicename}}</h2>
                    <p class="lead">{{book.description}}</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" ng-attr-src="{{book.picture}}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    </div>
    <!-- /.content-section-a -->
</div>